// === COMMON ===
body {
    @include roboto-font;
    color: #8d96bd;
}
.section-outer {
    border-bottom: 1px solid $color-divider;
}
.section-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;

    &--wide {
        max-width: 1200px;
    }
}

.input {
    padding: 12px 16px;
    border: 1px solid transparent;
    background-color: #efeff7;
    border-radius: 2px;
    color: #7a85ad;
    font-size: $fs-sm;

    &--size-lg {
        padding: 20px 24px;
        border-radius: 5px;
    }
}

.btn {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 12px 16px;
    border: 1px solid transparent;
    background: none;
    border-radius: 2px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: $fw-bold;
    font-size: $fs-sm;
    transition: $transition;
    cursor: pointer;

    &--size-lg {
        padding: 20px 60px;
        border-radius: 5px;
    }

    &--primary {
        background-color: #d2e1ff;
        color: #3a79ff;

        &:hover {
            background-color: darken(#d2e1ff, 5%);
        }
    }
    &--danger {
        background-color: #ffd7d7;
        color: #d43f3f;

        &:hover {
            background-color: darken(#ffd7d7, 5%);
        }
    }
    &--secondary {
        background-color: #4c85ff;
        color: #fff;

        &:hover {
            background-color: darken(#4c85ff, 5%);
        }
        &-inverted {
            background-color: #fff;
            color: #565f82;

            &:hover {
                background-color: darken(#fff, 5%);
            }
        }
    }
    &--grayscale {
        background-color: #e8ecf4;
        color: #7382a3;

        &:hover {
            background-color: darken(#e8ecf4, 5%);
        }
    }
    &--no-bg {
        color: #adb4d2;
        border: 1px solid #d1d1e4;

        &:hover {
            color: darken(#adb4d2, 10%);
            border: 1px solid (#d1d1e4, 10%);
        }
        &-inverted {
            color: #c7d3ff;
            border-color: #a0b4ff;

            &:hover {
                color: lighten(#c7d3ff, 10%);
                border-color: lighten(#a0b4ff, 5%);
            }
        }
    }
}
.btn-group {
    display: inline-flex;
    .btn:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: $fw-regular;
    color: #3d4f9f;
}
h1,
h2 {
    font-size: 48px;
    margin-bottom: 28px;
}
h3 {
    margin-bottom: 28px;
    font-size: 36px;
}
h4 {
    font-size: 24px;
    margin-bottom: 70px;
}
h5 {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 16px;
}
.ta-c {
    text-align: center;
}
.dots {
    @include list-null;
    display: flex;
    justify-content: center;

    &__item {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d1d6e3;
        cursor: pointer;
        transition: $transition;
        &--active {
            background-color: #5e80fe;
        }
        & + & {
            margin-left: 12px;
        }
    }
}
// === /COMMON ===
