// === FONT-WEIGHT ===
$fw-light: 100;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;

// FONT-SIZE
$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;

// BASE-PARAMS
$transition: 0.2s;
// $base: 4px;

// === COLORS ===
$color-white: #fff;

$color-primary: #495274;

$color-primary-50: #495274;
$color-primary-100: #495274;
$color-primary-200: #495274;
$color-primary-300: #495274;
$color-primary-400: #495274;
$color-primary-500: #495274;
$color-primary-600: #495274;
$color-primary-700: #495274;
$color-primary-800: #495274;
$color-primary-900: #495274;
//
$color-secondary: #6188ff;
$color-secondary-50: #6188ff;
$color-secondary-100: #6188ff;
$color-secondary-200: #6188ff;
$color-secondary-300: #6188ff;
$color-secondary-400: #6188ff;
$color-secondary-500: #6188ff;
$color-secondary-600: #6188ff;
$color-secondary-700: #6188ff;
$color-secondary-800: #6188ff;
$color-secondary-900: #6188ff;

$color-divider: #d8e3fe;

// PADDING
$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;
