@import '_normalize.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_common.scss';

// === HEADER ===
.section-header {
    position: relative;
}
.main-navigation {
    display: flex;
    align-items: center;

    &__inner-wrap {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-left: 70px;

        .section-header & {
            @media (max-width: 991px) {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                z-index: 110;
                padding: 20px;
                margin-left: 0;
                background-color: $color-white;
            }
        }

        @media (max-width: 991px) {
            flex-direction: column;
            margin-left: 0;

            .socials,
            .nav {
                margin-bottom: 16px;
            }

            &,
            .socials,
            .btn-wrapper {
                margin-left: 0;
            }
        }
    }
    @media (max-width: 991px) {
        .section-footer & {
            flex-direction: column;
            .logo {
                margin-bottom: 14px;
            }
        }
    }
}

.btn-burger {
    display: none;
    margin-left: auto;
    border: 2px solid $color-blue-200;
    border-radius: 6px;
    &__line {
        display: block;
        width: 16px;
        height: 4px;
        background-color: $color-blue-200;
        & + & {
            margin-top: 4px;
        }
    }
    @media (max-width: 991px) {
        display: block;
    }
}

.logo {
    &__link {
        display: block;
        width: 24px;
        height: 24px;
        background-color: $color-blue-500;
        border-radius: 50%;
    }
}

.nav-wrapper {
    @include list-null();
    display: flex;
    align-items: center;

    &__item {
        & + & {
            margin-left: 40px;
            @media (max-width: 575px) {
                margin: 0;
            }
        }
        &-link {
            font-size: $fs-xs;
            color: $color-gray-900;
            font-weight: $fw-medium;
            text-decoration: none;
            transition: $transition;
            &:hover {
                color: $color-blue-200;
            }
            &--active {
                font-weight: $fw-bold;
                color: $color-blue-200;
            }
        }
    }

    @media (max-width: 575px) {
        flex-direction: column;
    }
}
.socials {
    margin-left: auto;
}
.socials-wrapper {
    @include list-null();
    display: flex;
    align-items: center;

    &__item {
        & + & {
            margin-left: 40px;
            @media (max-width: 575px) {
                margin: 0;
            }
        }
        &-link {
            path {
                fill: $color-gray-900;
                transition: $transition;
            }
            &:hover {
                path {
                    fill: $color-blue-200;
                }
            }
        }
    }
}
.btn-wrapper {
    margin-left: 44px;
}
// === /HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
    position: relative;
    padding: 0;
    .dots {
        position: absolute;
        bottom: 28px;
        left: 50%;
        transform: translate(-50%);
    }
}
.slider-hero-image {
    @include list-null();

    &__item {
        height: 570px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;

        &-content {
            h2 {
                font-weight: $fw-light;
                span {
                    font-weight: $fw-medium;
                }
            }
            .text {
                max-width: 55%;
                margin: 0 auto 20px;
                line-height: 2;
            }
        }
    }
}
.icon-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0 10px 50px rgba($color: $color-gray-200, $alpha: 0.6);
    svg {
        width: 12px;
        height: 12px;
    }
}
// === /HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            opacity: 0.3;
            transition: $transition;
            &:hover {
                opacity: 1;
            }
        }

        @media (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: center;

            a {
                flex-basis: 45%;
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
}
// === /CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
    position: relative;
    overflow: hidden;
    background-color: $color-gray-50;
    &__content {
        width: 60%;
        .aside-image {
            position: absolute;
            top: 0;
            left: 50%;
        }

        h3 {
            font-weight: $fw-light;
            span {
                font-weight: $fw-medium;
            }
        }
        .text {
            line-height: 2;
            margin-bottom: 48px;
        }
        .btn-group {
            svg {
                margin-left: 4px;
            }
        }
        @media (min-width: 992px) {
            width: 50%;
        }
        @media (max-width: 575px) {
            width: 70%;
            .aside-image {
                left: 35%;
            }
        }
    }
}
// === /PLAN-AND-MANAGE ===

// === FEATURES ===
.section-features {
    background: url(/img/elements/clouds.png) 50% 50% no-repeat;

    h4 {
        font-weight: $fw-medium;
    }

    .btns {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
.features-list {
    @include list-null();
    display: flex;
    text-align: center;
    padding: 0 0 70px;

    &__item {
        position: relative;
        flex-basis: 25%;

        & + & {
            margin-left: 40px;

            &::before {
                position: absolute;
                top: 120px;
                left: -34px;
                content: '';
                height: 1px;
                width: 28px;
                background-color: $color-gray-300;
            }
            @media (max-width: 575px) {
                margin-left: 0;
                margin-bottom: 25px;
                &::before {
                    display: none;
                }
            }
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 32px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: $color-gray-100;
        }
        &-title {
            font-weight: $fw-bold;
            font-size: $fs-s;
            color: $color-blue-700;
            margin-bottom: 28px;
        }
        &-text {
            line-height: 2;
        }
        @media (max-width: 575px) {
            flex-basis: 45%;
            &-icon,
            &-title {
                margin-bottom: 15px;
            }
        }
    }
    @media (max-width: 575px) {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}
.or-block {
    display: inline-flex;
    align-items: center;
    margin: 0 16px;
    font-size: $fs-xs;
    font-weight: $fw-medium;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 16px;
        height: 1px;
        background-color: $color-gray-500;
    }
    &::before {
        margin-right: 16px;
    }
    &::after {
        margin-left: 16px;
    }
}
// === /FEATURES ===

// === STATS ===
.section-stats {
    display: flex;
    padding: 0;

    &__left,
    &__right {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        padding: 60px 80px;
    }
    &__left {
        background-color: $color-blue-100;
        text-align: right;
        color: $color-white;
        align-items: flex-end;
    }

    &__right {
        background-color: $color-gray-150;
        color: $color-blue-200;
    }

    @media (max-width: 575px) {
        &__left,
        &__right {
            padding: 30px 40px;
        }
    }

    &__icon {
        margin-bottom: 24px;
    }

    &__number {
        font-size: $fs-xxl;
        margin-bottom: 28px;
    }

    &__text {
        font-size: $fs-m;
        font-weight: $fw-regular;
        line-height: 1.5;

        @media (min-width: 992px) {
            width: 40%;
        }
    }
}
// === /STATS ===

// === BLOG ===
.section-blog {
    background-color: $color-gray-50;
    .section-inner {
        @media (max-width: 575px) {
            h4 {
                margin-bottom: 30px;
            }
        }
    }
}
.slider-wrapper {
    position: relative;
    margin-bottom: 80px;

    @media (max-width: 991px) {
        margin-bottom: 50px;
    }
    @media (max-width: 575px) {
        h4 {
            margin-bottom: 10px;
        }
    }
    .section-inner {
        @media (max-width: 575px) {
            h4 {
                color: red;
                margin-bottom: 10px;
            }
        }
    }
}
.slider-blog {
    @include list-null();
    border: 1px solid $color-gray-150;
    background-color: $color-white;
    box-shadow: 0 15px 50px $color-gray-100;

    &__item {
        padding: 64px 32px;
        display: flex;
        justify-content: space-between;

        &-content {
            flex-grow: 1;
            margin-left: 40px;
            .text {
                font-size: $fs-s;
                line-height: 2;
                margin-bottom: 30px;
            }
        }

        &-gallery {
            display: grid;
            grid-template-rows: repeat(2, 120px);
            grid-template-columns: repeat(3, 120px);
            grid-gap: 20px;
            width: 100%;

            @media (max-width: 991px) {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
            }

            .image-link {
                position: relative;
                display: block;
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 0 15px 100px $color-gray-100;

                &::after {
                    content: '';
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    background: $color-white url(/img/icons/loupe.svg) no-repeat 50% 50%;
                    transition: $transition;
                }

                &:hover::after {
                    opacity: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    opacity: 0.5;
                }

                &--b {
                    grid-row: 1 / 3;
                    grid-column: 1 / 3;
                    &::before {
                        background: linear-gradient(transparent, $color-yellow-500);
                    }
                }
                &--s-1 {
                    grid-row: 1 / 2;
                    grid-column: 3 / 4;
                    &::before {
                        background: linear-gradient(transparent, $color-red-500);
                    }
                }
                &--s-2 {
                    grid-row: 2 / 3;
                    grid-column: 3 / 4;
                    &::before {
                        background: linear-gradient(transparent, $color-cian-500);
                    }
                }
            }
        }
        @media (max-width: 767px) {
            flex-direction: column;
            padding: 32px 16px;

            &-content {
                position: relative;
                z-index: 5;
                margin-top: 20px;
                margin-left: 0;

                h3 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.btn-blog {
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    background: url(/img/icons/arrow.svg) no-repeat 50% 50%;

    &--prev {
        right: 100%;
        margin-right: 80px;
        transform: translateY(-50%);
    }
    &--next {
        left: 100%;
        margin-left: 80px;
        transform: translateY(-50%) rotate(180deg);
    }

    @media (max-width: 1199px) {
        display: none;
    }
}
// === /BLOG ===

// === QUOTES ===
.section-quotes {
    background-color: $color-gray-150;
    .section-inner {
        display: flex;
        justify-content: space-between;

        h3 {
            font-weight: $fw-medium;
        }

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__left,
    &__right {
        flex-basis: 45%;
    }

    &__left {
        .text {
            line-height: 2;
        }
        @media (max-width: 575px) {
            margin-bottom: 20px;
        }
    }
}
.slider-quotes {
    @include list-null();

    margin-bottom: 80px;

    &__item {
        position: relative;
        border: 1px solid $color-gray-200;
        background-color: $color-white;
        box-shadow: 0 5px 50px $color-gray-200;

        &-text {
            font-size: $fs-s;
            line-height: 2;
            color: $color-gray-800;
            padding: 40px 72px 60px;
        }
        &-photo {
            position: absolute;
            top: 100%;
            left: 50%;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $color-white;
            overflow: hidden;
            transform: translate(-50%, -30px);
        }
    }
}

// === /QUOTES ===

// === FAQ ===
.section-faq {
    h4 {
        font-weight: $fw-medium;
    }

    .faq-accordion {
        @include list-null();

        &__item {
            border-bottom: 1px solid $color-gray-200;

            &--active {
                .arrow {
                    stroke: $color-gray-900;
                }
                .faq-accordion__item-trigger {
                    color: $color-gray-900;
                    font-weight: $fw-bold;

                    &-icon {
                        transform: rotate(0);
                    }
                }
                .faq-accordion__item-content {
                    display: flex;
                }
            }

            &-trigger {
                display: flex;
                padding: 16px;
                cursor: pointer;

                &-icon {
                    width: 16px;
                    text-align: center;
                    margin-right: 16px;
                    transform: rotate(180deg);

                    .arrow {
                        stroke: $color-gray-400;
                    }
                }
                &-text {
                    font-size: $fs-s;
                }
            }
            &-content {
                display: none;
                padding: 0 16px 16px 48px;

                &-text {
                    flex-grow: 1;
                    font-size: $fs-xs;
                    line-height: 2;
                    margin-right: 60px;
                }
                @media (max-width: 575px) {
                    flex-direction: column;

                    &-btn {
                        margin-left: 0;
                    }

                    &-text {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
// === /FAQ ===

// === GET-STARTED ===
.section-get-started {
    position: relative;
    background: linear-gradient($color-blue-100, $color-blue-200);
    color: $color-white;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        background: url(/img/elements/clouds-two.png) no-repeat 50% 50%;
    }
    .section-inner {
        position: relative;
        z-index: 10;
    }
    h2,
    h5 {
        color: $color-white;
    }
    .h5 {
        color: $color-white;
    }
    h2 {
        font-weight: $fw-light;
        span {
            font-weight: $fw-medium;
        }
    }
    .text {
        margin: 0 auto 40px;
        line-height: 2;

        @media (min-width: 768px) {
            max-width: 55%;
        }
    }
}
// === /GET-STARTED ===

// === NEWSLETTER ===
.section-newsletter {
    background-color: $color-gray-50;

    .section-inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    &__left {
        flex-basis: 35%;

        &-title {
            font-size: $fs-m;
            font-weight: $fw-bold;
            color: $color-blue-800;
            margin-bottom: 16px;
        }
        &-text {
            font-size: $fs-s;
            line-height: 2;
        }

        @media (max-width: 991px) {
            margin-bottom: 20px;
            text-align: center;
        }
    }

    &__right {
        flex-basis: 55%;
    }
}
.form-newsletter {
    display: flex;

    input {
        flex-grow: 1;
        margin-right: 12px;
    }
}

// === /NEWSLETTER ===

// === FOOTER ===
.section-footer {
    border-bottom: none;
}
.copyright {
    margin-top: 28px;
    margin-left: 88px;
    color: $color-gray-200;
    font-size: $fs-xs;
    font-weight: $fw-medium;
    @media (max-width: 991px) {
        margin-left: 0;
        text-align: center;
    }
}
// === /FOOTER ===
